/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav .wrapper {
  padding: 8px 8px 8px 32px;
}
/* The navigation menu links */
.sidenav a {
  width: 100%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
 a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 10px;
  left: 32px;
 
  /* margin-left: 50px; */
}
.closebtn i {
  color: var(--accent);
  cursor: pointer;
  font-size: 3rem;
  transition: color 0.3s ease;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1024px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
@media screen and (min-width: 1025px) {
    .desktop {
        display: flex;
    }
    .mobile {
        display: none;
    }
}